/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/arya-blue/theme.css';
@import '~primeicons/primeicons.css';

body {
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: rgb(20, 19, 19);
}

body.light-theme {
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: rgb(253, 253, 253);
}
